<?xml version="1.0" ?>
<configuration>
    <package_name>ferris-says</package_name>
    <repository_url>https://github.com/rust-lang/ferris-says</repository_url>
    <test_repo_mode>false</test_repo_mode>
    <package_version>0.2.1</package_version>
    <output_filename>dependencies.png</output_filename>
</configuration>