<?xml version="1.0" ?>
<configuration>
    <package_name>mypkg</package_name>
    <repository_url>https://github.com/rust-lang/rustfmt</repository_url>
    <test_repo_mode>false</test_repo_mode>
    <package_version>1.0.0</package_version>
    <output_filename>rustfmt_dependencies.png</output_filename>
</configuration>